/*
Theme Name:  Unika
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Unika.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Unika
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Titillium Web', sans-serif;
}

/* TOPO */
	.topo{
		position: fixed;
		top: 0;
		z-index: 99;
		display: block;
		width: 100%;
		background: #fff;
		-webkit-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
	}
		.topo .logo{
			display: block;
			margin-top: 15px;
		}
			.topo .logo img{
				width: 100%;
				max-width: 270px;
				margin: 0 auto;
			}
		.topo .navbar{
			margin: 0;
			border: none;
			min-height: 0;
		}
			.topo .navbar button{
				display: none;
			}
				.topo .navbar button span{

				}
		.topo nav{

		}
			.topo nav ul{
				text-align: right;
				font-size: 0;
			}
				.topo nav ul li{
				
				}
					.topo nav ul li a{
						background: transparent;
						color: #000;
						font-size: 16px;
						padding: 20px 20px;
					    text-transform: capitalize;
						font-weight: 600;
						margin: 1px;
					}
						.topo nav ul li a:hover{
							background: #008000;
							color: #fff;
						}
					.topo nav ul li a:active{
						background: #008000;
						color: #fff;
					}
					.topo nav ul li a:focus{
						background: #008000;
						color: #fff;
					}
					.topo nav ul li a.ativo{
						background: #008000;
						color: #fff;
					}
		.navbar-header,.navbar-nav{
			display: block;
			width: 100%;
			float: inherit;
		}
		.navbar-nav>li{
			float: inherit;
			display: inline-block;
		}

/* RODAPÉ */
	.rodape{
		position: relative;
	    padding: 70px 10px 10px;
		background:url(../img/transp1.jpg);
		background-size: cover!important;
		background-position: center!important;
	    background-attachment: fixed!important;
	}
		.rodape:before{
			content: '';
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			background-color: #1c3657e8;
		}
		.rodape .mapa{
			position: relative;
		}
			.rodape .mapa strong{
				font-size: 24px;
				margin-bottom: 25px;
				font-weight: 600;
				text-transform: capitalize;
				letter-spacing: 1px;
				color: #ffffff;
				display: block;
			}
			.rodape .mapa a{
				position: relative;
				display: block;
				font-size: 15px;
				color: #bebebe;
				line-height: 24px;
				padding-left: 15px;
				transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
			    margin-bottom: 10px;
			}
				.rodape .mapa a:hover{
					color: #fff;
					transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
					-ms-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
				}
				.rodape .mapa a i{
					font-size: 20px;
					margin-right: 5px;
				}
				.rodape .mapa a:before{
					font-family: 'FontAwesome';
					content: '\f105';
					position: absolute;
					left: 0px;
					top: 0px;
					line-height: 24px;
					font-size: 14px;
				}
			.rodape .mapa a img{
				position: relative;
				display: inline-block;
				width: 100%;
				border-radius: 3px;
				transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
			}
			.rodape .mapa.galeria a{
				max-width: 120px;
				display: inline-block;
			}
				.rodape .mapa.galeria a:before{
					display: none;
				}
		.rodape .copyright{
		    margin-top: 30px;
		}
			.rodape .copyright p{
				color: #fff;
				font-size: 13px;
			}
				.rodape .copyright p i{

				}
				.rodape .copyright p a{

				}
				.rodape .copyright p img{
					max-width: 100px;
					margin-left: 5px;
				}

/* ESTILOS GERAIS */
	.pg{
		padding-top: 62px;
	}
	.pg .titulo{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.pg .titulo h6{
		font-size: 32px;
		color: #1c2125;
		font-weight: 600;
		text-align: center;
	}
	.pg .titulo p{
		font-weight: 600;
		color: #484b4e;
		text-align: center;
		display: block;
	}

/* PÁGINA INICIAL */
	.pg-inicial{

	}
		.pg-inicial .sessaoDestaque{
		}
			.pg-inicial .sessaoDestaque .item{
				display: block;
				height: 500px;
				width: 100%;
				background-size: cover!important;
				background-position: center!important;
				text-decoration: none;
				position: relative;
			}
				.pg-inicial .sessaoDestaque .item:before{
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					background: #0000009c;
				}
				.pg-inicial .sessaoDestaque .item .textoDestaque{
					max-width:440px;
					padding: 10px;
					padding-top: 100px;
					position: relative;
				}
					.pg-inicial .sessaoDestaque .item .textoDestaque h2{
						margin: 0;
						color: #ffffff;
						font-size: 37px;
						margin-bottom: 40px;
						font-weight: 900;
						text-transform: uppercase;
					}
					.pg-inicial .sessaoDestaque .item .textoDestaque p{
						margin: 0;
						color: #ffffff;
						font-size: 14px;
						margin-bottom: 40px;
						text-transform: uppercase;
					}
					.pg-inicial .sessaoDestaque .item .textoDestaque span{
						display: block;
						width: 100%;
						max-width: 245px;
						height: 50px;
						text-align: center;
						background: #008000;
						color: #fff;
						text-transform: uppercase;
						font-size: 16px;
						font-weight: 600;
						line-height: 50px;
						border: solid 1px #008000;
						transition: All .1s ease;
						-webkit-transition: All .1s ease;
						-moz-transition: All .1s ease;
						-o-transition: All .1s ease; 
					}
						.pg-inicial .sessaoDestaque .item .textoDestaque span:hover{
							background: transparent;
							transition: All .1s ease;
							-webkit-transition: All .1s ease;
							-moz-transition: All .1s ease;
							-o-transition: All .1s ease; 
						}
		.pg-inicial .sessaoServicos{
			
		}
			
			.pg-inicial .sessaoServicos .servico{
				width: 100%;
				display: block;
				max-width: 330px;
				margin: 20px auto;
				text-decoration: none;
			}
				.pg-inicial .sessaoServicos .servico figure{
					background-position: center!important;
					background-size:cover!important;
					width: 100%;
					height: 253px;
					transition: All .1s ease;
					-webkit-transition: All .1s ease;
					-moz-transition: All .1s ease;
					-o-transition: All .1s ease; 
				}
					.pg-inicial .sessaoServicos .servico:hover figure{
						transition: All .1s ease;
						-webkit-transition: All .1s ease;
						-moz-transition: All .1s ease;
						-o-transition: All .1s ease;
						webkit-transform: scale(1.1);
						transform: scale(1.1);
					}
				.pg-inicial .sessaoServicos .servico h2{
					font-size: 22px;
					line-height: 1.4em;
					margin-bottom: 15px;
					color: #1c2125;
					font-weight: 600;
				}
				.pg-inicial .sessaoServicos .servico p{
					font-size: 14px;
					color: #808080;
				}
		.pg-inicial .sessaoServicos .verMais{
			position: relative;
			padding: 8px 25px 9px;
			line-height: 26px;
			text-transform: uppercase;
			background: #008000;
			color: #ffffff;
			font-size: 16px;
			font-weight: 600;
			border: 2px solid #008000;
			border-radius: 1px;
			font-family: 'Titillium Web', sans-serif;
			margin-top: 40px;
			display: inline-block;			
			text-decoration: none;
			transition: All .1s ease;
			-webkit-transition: All .1s ease;
			-moz-transition: All .1s ease;
			-o-transition: All .1s ease;

		}
			.pg-inicial .sessaoServicos .verMais:hover{
				transition: All .1s ease;
				-webkit-transition: All .1s ease;
				-moz-transition: All .1s ease;
				-o-transition: All .1s ease;
				background: transparent;
				color: #008000;
				
			}
	.pg-inicial .valoresEmpresa{
		width: 100%;
		background-size: cover!important;
		background-position: center!important;
	    background-attachment: fixed!important;
        padding: 100px 0px;
        position: relative;
        margin-top: 100px;
	}
		/* .pg-inicial .valoresEmpresa:before{
			content: '';
			position: absolute;
			left: 50%;
			top: 0px;
			width: 50%;
			height: 100%;
			background: #ffffff;
			opacity: 0.90;
		} */
		.pg-inicial .valoresEmpresa:after{
		
		}
		.pg-inicial .valoresEmpresa .valores{
			position: relative;
			background: #008000;
			color: #ffffff;
		}
			.pg-inicial .valoresEmpresa .valores .valor{
			    padding: 40px 40px;
			}
				.pg-inicial .valoresEmpresa .valores .valor img{
					max-width: 60px;
					vertical-align: baseline;
				}
				.pg-inicial .valoresEmpresa .valores .valor .dados{
					display: inline-block;
					padding-right: 10px;
				}
				.pg-inicial .valoresEmpresa .valores .valor .dados span{
					position: relative;
					font-size: 48px;
					line-height: 1em;
					font-weight: 600;
					font-family: 'Titillium Web', sans-serif;
					margin: 0px 0px;
				}
				.pg-inicial .valoresEmpresa .valores .valor .dados p{
					position: relative;
					font-size: 20px;
					font-weight: 400;
					font-family: 'Titillium Web', sans-serif;
					text-transform: uppercase;
				}
		.pg-inicial .sessaoInfoServicos{
			position: relative;
			background-size: cover!important;
			background-position: center!important;
			background-attachment: fixed!important;
			padding-bottom: 50px;: 

		}
			.pg-inicial .sessaoInfoServicos .titulo h6{
				color: #fff;
				position: relative;
			}
			.pg-inicial .sessaoInfoServicos .titulo p{
				color: #fff;
				position: relative;
			}
			.pg-inicial .sessaoInfoServicos:before{
				content: '';
				display: block;
				top: 0;
				left: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color:#000000c7 ;
			}
			.pg-inicial .sessaoInfoServicos .areaInformacoes{
				position: relative;
			}
			.pg-inicial .sessaoInfoServicos  .col-md-4{
				padding: 10px;
			}
			.pg-inicial .sessaoInfoServicos .areainfo{
				padding:20px;
				color: #ffffff;
				border: 1px solid rgba(255,255,255,0.50);
				border-radius: 2px;
				transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-webkit-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				opacity: 0;
			}
				.pg-inicial .sessaoInfoServicos .areainfo:hover{
					background: #1c2122;
					transition: all 500ms ease;
					-moz-transition: all 500ms ease;
					-webkit-transition: all 500ms ease;
					-ms-transition: all 500ms ease;
					-o-transition: all 500ms ease;
					opacity: 0;
				}

				.pg-inicial .sessaoInfoServicos .areainfo figure{

				}
					.pg-inicial .sessaoInfoServicos .areainfo figure img{
						max-width: 45px;
						display: block;
						margin: 20px auto 0;
					}
						.pg-inicial .sessaoInfoServicos .areainfo:hover img{
							webkit-animation: swing 1s ease;
							animation: swing 1s ease;
							-webkit-animation-iteration-count: 1;
							animation-iteration-count: 1;
						}
					.pg-inicial .sessaoInfoServicos .areainfo h2{
						font-size: 20px;
						font-weight: 600;
						margin-bottom: 12px;
						line-height: 1.4em;
						color: #fff;
					}	
					.pg-inicial .sessaoInfoServicos .areainfo p{
						position: relative;
						color: #dbdddf;
						line-height: 1.6em;
					}
		.pg-inicial .sessaoContato{
			padding: 10px;
		}
			.pg-inicial .sessaoContato .form{
				max-width: 90%;
			}
				.pg-inicial .sessaoContato .form p{
					color: #25292b;
					font-size: 32px;
					margin-bottom: 30px;
					font-weight: 600;
					letter-spacing: 1px;
				}
				.pg-inicial .sessaoContato .form input{
					border: 1px solid #f7f7f7;
					background-color: #f7f7f7;
					height: 54px;
					display: block;
					width: 100%;
					padding: 10px;
					margin-bottom: 20px;
					outline: none;
				}
				.pg-inicial .sessaoContato .form textarea{
					border: 1px solid #f7f7f7;
					background-color: #f7f7f7;
					height: 170px;
					min-height: 170px;
					max-height: 170px;
					display: block;
					width: 100%;
					max-width: 100%;
					padding: 10px;
					outline: none;
				}
				.pg-inicial .sessaoContato .form input[type="submit"]{
					padding: 10px;
					background: #008000;
					border: solid 1px#008000;
					color: #fff;
					text-transform: uppercase;
					max-width: 170px;
					height: 40px;
					transition: All .1s ease;
					-webkit-transition: All .1s ease;
					-moz-transition: All .1s ease;
					-o-transition: All .1s ease;
					margin-top: 20px;
				}
					.pg-inicial .sessaoContato .form input[type="submit"]:hover{
						background: transparent;
						color: #008000;
						transition: All .1s ease;
						-webkit-transition: All .1s ease;
						-moz-transition: All .1s ease;
						-o-transition: All .1s ease;
					}
		.pg-inicial .sessaoContato .infocontato{
			padding: 10px;
		}	
			.pg-inicial .sessaoContato .infocontato>p{
				color: #25292b;
				font-size: 32px;
				margin-bottom: 30px;
				font-weight: 600;
				letter-spacing: 1px;
			}
				.pg-inicial .sessaoContato .infocontato span{
					margin-bottom: 25px;
					font-size: 14px;
					color: #333333;
					display: block;
				}
			.pg-inicial .sessaoContato .infocontato .caixaEndereco{
				padding: 30px 20px 30px 30px;
				border: 1px solid #f0f0f0;
				font-size: 14px;
				color: #aaaaaa;
			}
				.pg-inicial .sessaoContato .infocontato .caixaEndereco i{
					display: block;
					text-align: center;
					font-size: 35px;
					color: green;
				}
					.pg-inicial .sessaoContato .infocontato .caixaEndereco h6{
						font-family: 'Titillium Web', sans-serif;
						display: block;
						color: #23282a;
						font-size: 18px;
						margin-bottom: 5px;
						line-height: 20px;
						font-style: normal;
						font-weight: 700;
					}
						.pg-inicial .sessaoContato .infocontato .caixaEndereco p{
					
						}

/* PÁGINA DE SERVICO */
	.pg-servico{
		padding-bottom: 50px;
	}	
		.pg .bannerTop{
			position: relative;
			padding: 140px 0px 80px 0px;
			text-align: center;
			background-size: cover!important;
			background-repeat: no-repeat!important;
			background-position: center center!important;
			color: #ffffff;
			margin-bottom: 62px;
		}
			.pg .bannerTop:before{
				content: '';
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.80);
			}
			.pg .bannerTop h1{
				font-size: 48px;
				text-transform: uppercase;
				letter-spacing: 0px;
				font-weight: 700;
				color: #ffffff;
				position: relative;
			}
		.pg-servico aside{
	
		}
			.pg-servico aside .contato{
				padding: 25px;
				text-align: center;
				background: #ffffff;
				border: 1px solid #f0f0f0;
			}
				.pg-servico aside .contato:hover{
					background: #008000;
				}
				.pg-servico aside .contato:hover strong{
					color: #fff;
				}
				.pg-servico aside .contato:hover p{
					color: #fff;
				}
				.pg-servico aside .contato strong{
					font-size: 25px;
				}
				.pg-servico aside .contato p{
					font-size: 20px;
				}
			.pg-servico aside ul{
				position: relative;
				background: #f4f4f4;
				border: 1px solid rgba(0,0,0,0.05);
				border-radius: 3px;
				padding: 0;
				list-style: none;
			}
				.pg-servico aside ul li{
					position: relative;
					display: block;
					line-height: 24px;
					padding: 0 0 0 0;
					text-transform: capitalize;
					color: #4d5a64;
					font-size: 16px;
					font-weight: 400;
					border-bottom: 1px solid rgba(0,0,0,0.05);
					cursor: pointer;
				}

					.pg-servico aside ul li a{
						position: relative;
						display: block;
						line-height: 30px;
						padding: 15px 15px 15px 35px;
						text-transform: capitalize;
						color: #4d5a64;
						font-weight: 600;
						transition: all 300ms ease;
						-webkit-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-o-transition: all 300ms ease;
					}
						.pg-servico aside ul li a:hover{
						    background: #008000;
						    color: #fff;
						}
			.pg-servico .conteudo{
				max-width: 765px;
				margin: 0 auto;
			}
				.pg-servico .conteudo figure{
					width: 100%;
					height: 300px;
					background-position: center!important;
					background-size: cover!important;
					

				}
				.pg .conteudo article{

				}
					.pg .conteudo article h2{
						font-size: 28px;
						margin-bottom: 15px;
						color: #2c2c2c;
						font-weight: 600;
					}
					.pg .conteudo article p{
						margin-bottom: 20px;
						line-height: 1.8em;
						color: #777777;
						font-size: 14px;
					}


/* EXTRAS */
	
/* @MEDIA */


